<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="AgentDb" connectionString="Server=192.168.100.85;Database=iAgentRemixDatabase;User Id=healthworks;Password=Re19VeN98Ue;"/>
    <add name="SmartAgentDev" connectionString="packet size=4096;User Id=Healthworks;data source=Hwdevsql01;Database=ScriptingAgentDatabase;persist security info=True;User Id=healthworks;Password=Re19VeN98Ue;"/>
    <add name="SmartAgentProd" connectionString="packet size=4096;User Id=Healthworks;data source=HAPRONS1SQLCL07;Database=ScriptingAgentDatabase;persist security info=True;User Id=healthworks;Password=Re19VeN98Ue;"/>
    <add name="APCOE" connectionString="Server=HWDEVSQL01;Database=APCOE-Web-Dev;User Id=healthworks;Password=Re19VeN98Ue;"/>
    <add name="UPW" connectionString="Server=HWDEVSQL01;Database=UPW;User Id=healthworks;Password=Re19VeN98Ue;"/>
    <add name="PrecertMaster" connectionString="Server=HWDEVSQL01;Database=PrecertMasterA;User Id=healthworks;Password=Re19VeN98Ue;"/>
    <add name="MongoBlobStorage" connectionString="mongodb://HWUser:89akjdj#1a@hapromdb02:27017/iAgent?replicaSet=HAMDB01ReplicaSet"/>
    <add name="NServiceBus/Transport" connectionString="host=hadevrmq01;virtualhost=iAgent;username=iagent;password=iagent;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
</configuration>
