@{
    ViewBag.Title = "Smart Agent App";
}

<div id="bodyContainer" ng-app="smartAgentApp">
    <section id="content">
        <div class="container-fluid" id="app">
        </div>
    </section>
</div>


@section scripts {

    <!-- Library Scripts -->

    <!-- Application Script -->
    @*@Scripts.Render("~/Scripts/public/src/app/app.js")
    @Scripts.Render("~/Scripts/public/src/app/clients/clientsList.js")*@

    <!-- Services -->

    @*@Scripts.Render("~/Scripts/public/src/app/common/services/common.services.js")
    @Scripts.Render("~/Scripts/public/src/app/common/services/clientsRepository.js")*@

}