<div class="container col-md-12" >
    <select ng-model="clients"
            ng-options="client.name for client in clients">
        <option class="dropdown-menu" value="">Select a Client</option>
    </select>
</div>