<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AgentProdDb" connectionString="packet size=4096;User Id=Healthworks;data source=HWPROSQLCLS09;persist security info=True;initial catalog=iAgentRemixDatabase;Password=Re19VeN98Ue; MultipleActiveResultSets=true"/>
    <add name="AgentDevDb" connectionString="packet size=4096;User Id=Healthworks;data source=HADEVIAGENT02;persist security info=True;initial catalog=iAgentRemixDatabase;Password=Re19VeN98Ue;MultipleActiveResultSets=true" />
    <add name="SmartAgentDev" connectionString="packet size=4096;User Id=Healthworks;data source=Hwdevsql01;persist security info=True;initial catalog=ScriptingAgentDatabase;Password=Re19VeN98Ue;MultipleActiveResultSets=true" />
    <add name="UPW" connectionString="Server=HAPRONS1SQLCL07;Database=UPW;User Id=Healthworks;Password=Re19VeN98Ue;" />
    <add name="APCOE" connectionString="Server=HAPRONS1SQLCL07;Database=APCOE-Web-Dev;User Id=Healthworks;Password=Re19VeN98Ue;MultipleActiveResultSets=true" />
    <add name="MongoBlobStorage" connectionString="mongodb://HWUser:89akjdj#1a@hapromdb02:27017/iAgent?replicaSet=HAMDB01ReplicaSet"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>